@page
@model RazorPagesAssignment1.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details.Photo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Details.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
